@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Bold.ttf') format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'OpenSans-Italic';
  src: url('../fonts/OpenSans-Light.ttf') format("truetype");
  font-style: normal;
  font-weight: normal;
}